lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

.idea
.session
bin
build
dist
pkg
.DS_Store
src/github.com
src/labix.org
src/code.google.com
src/server/server
*.xcworkspace/
xcuserdata/
*.test
*.prof
*.coverage
src/platform/osx/Survana/Survana/services/
