<!DOCTYPE html>
<html ng-app="admin">
<head>
    <title>Survana {{.Module.Name}}</title>
    <link rel="stylesheet" type="text/css" href="assets/lib/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/lib/bootstrap/3.0.2/css/bootstrap-theme.min.css">

    <script type="text/javascript" src="assets/lib/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="assets/lib/angularjs/1.2.3/angular.min.js"></script>
    <script type="text/javascript" src="assets/lib/angularjs/1.2.3/angular-route.min.js"></script>

    <script type="text/javascript" src="assets/js/app.js"></script>
    <script type="text/javascript" src="assets/js/controllers.js"></script>
</head>
<body>
    <div ng-view>
    </div>
</body>
</html>
