<div class="toolbar">
    <div class="btn-group">
        <button type="button" class="btn btn-warning" ng-click="saveCode($event)" data-loading="loading" title="Preview"><i class="glyphicon glyphicon-eye-open"></i></button>
        <button type="button" class="btn btn-warning active" ng-click="" data-loading="loading" title="Edit"><i class="glyphicon glyphicon-edit"></i></button>
    </div>

    <button type="button" class="btn btn-default" ng-click="discardCode($event)"><i class="glyphicon glyphicon-remove-circle"></i> Cancel</button>
    <a href="https://github.com/vpetrov/survana-admin/wiki/Developer's-Guide-to-Creating-Questionnaires"
       class="btn btn-info pull-right" target="_blank"><i class="glyphicon glyphicon-info-sign"></i> Help
    </a>
</div>

<script src="assets/lib/ace/1.1.0.1/ace.js" type="text/javascript" charset="utf-8"></script>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <p class="lead">
        <span style="margin-left:5px">Edit Form</span>
        <span class="alert alert-sm alert-dismissable" ng-class="{'hidden':!message.length, 'alert-danger':error, 'alert-success':!error}">
            <i class="glyphicon" ng-class="{'glyphicon-minus-sign':error, 'glyphicon-ok-sign':!error}"></i> {{ message }}
        </span>
    </p>
    <pre class="editor" data-ace="true" data-ng-model="form"></pre>
</div>
