<div class="toolbar">
    <!-- New -->
    <a href="#/forms/create" class="btn btn-success"><i class="glyphicon glyphicon-pencil"></i></a>

    <!-- Delete selected -->
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" ng-disabled="!selected.length" data-toggle="dropdown">
            <i class="glyphicon glyphicon-trash"></i>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="" ng-click="deleteSelected()">
                    <i class="glyphicon glyphicon-ok"></i>
                    Delete {{ selected.length }} form{{ (selected.length > 1) ? 's' : '' }}
                </a>
            </li>
            <li><a href=""><i class="glyphicon glyphicon-remove"></i> Cancel</a></li>
        </ul>
    </div>

    <!-- Search -->
    <div class="input-group col-lg-2 col-md-3 col-sm-3 col-xs-4 pull-right" style="display:inline-table">
        <input type="text" class="form-control" placeholder="Search forms" data-ng-model="search">
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-search"></i>
        </span>
    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
    <div class="message" ng-class="{'hidden':!message.length}">
        <span class="alert alert-sm alert-dismissable" ng-class="{'alert-danger':message.length}">
            {{ message }} &nbsp;
            <button type="button" class="btn btn-default btn-dismiss btn-xs" ng-click="message=''">
                <i class="glyphicon glyphicon-ok"></i>
            </button>
        </span>
    </div>

    <div style="margin-top:15px" ng-hide="forms.length">
        <span class="alert alert-info">
            <span class="glyphicon glyphicon-info-sign"></span> You haven't created any forms yet. <a href="#/forms/create" class="alert-link">Click here</a> to create a new form.
        </span>
    </div>

    <table class="table form-table">
        <tbody>
            <tr data-ng-repeat="form in forms | filter:search" ng-class="{ warning:isSelected(form.id) }" class="hover">
                <!-- checkbox -->
                <td class="checkboxes text-center">
                    <input type="checkbox" ng-click="toggle(form.id)">
                </td>
                <!-- form title -->
                <td class="text-left">
                    <a href="#forms/{{form.id}}" class="text-primary">{{ form.name || form.title }}</a>
                    <span class="pull-right hover-hidden">
                        <div class="btn-group">
                            <a href="#forms/{{ form.id }}" class="btn btn-default btn-xs" title="View"><i class="glyphicon glyphicon-eye-open"></i></a>
                            <a href="#forms/edit/{{ form.id }}" class="btn btn-default btn-xs" title="Edit"><i class="glyphicon glyphicon-edit"></i></a>
                        </div>

                        <span class="dropdown">
                            <a href="" class="btn btn-default btn-xs" title="Delete" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="" ng-click="deleteForm(form.id)"><i class="glyphicon glyphicon-ok"></i> Delete '{{ form.name }}'</a></li>
                                <li><a href=""><i class="glyphicon glyphicon-remove"></i> Cancel</a></li>
                            </ul>
                        </span>

                    </span>
                </td>
                <!-- form version -->
                <td class="medium text-center">
                    <span class="label label-default">{{ form.version }}</span>
                </td>
                <td class="large text-center">
                    {{ form.created_on | date }}
                </td>
                <td class="large text-center">
                    {{ form.owner_id || "N/A" }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
