.table .small {
    width:20px;
}

.table .medium {
    width:70px;
}

.table .large {
    width: 100px
}

.table .text-warning {
    color: orange;
}

.hover .hover-hidden {
    visibility:hidden;
}

.hover:hover .hover-hidden {
    visibility: visible;
}

.thumbnail:hover {
    border:1px solid #aaa;
}

.message {
    margin:0px 0px 5px 0px;
}

.btn-dismiss {
    position:relative;
    top:-2px;
}

/* FORM LIST */

.form-list .thumbnail {
    position:relative;
    cursor: pointer;
}

.form-list .thumbnail > .caption {
    height: 150px;
}

.form-list .caption {
    background-color: #f1f1f1;
    border-color: #ccc;
    overflow: auto;
}

.form-list .form-list-title {
    border-bottom:1px solid lightgray;
}

.form-list p,
.form-list .lead {
    color: #3a3a3a !important;
}
.form-list .form-list-buttons
{
    position:absolute;
    top: 0px;
    right:1px;
    padding:8px 8px 8px 8px;
    background-color: #3a3a3a;
    border:4px solid #fff;
    border-bottom-left-radius: 8px;
}

.study-forms .remove-form {
    position: absolute;
    top:10px;
    right:10px;
}

.study-form-placeholder {
    background-color: inherit;
}

.study-form-placeholder a {
    border:2px dashed #eee;
    color: #aaa;
    cursor: default !important;
}

.study-form-placeholder a:hover {
    border:2px dashed #eee;
    pointer: default;
    background-color: inherit !important;

}

.dragabble-container > li {
    border: 1px solid transparent;
}

.dragover {
    border: 1px dashed #aaa;
}

.questionnaire, .study {
    border-radius:3px;
    border: 1px solid #aaa;
    -webkit-box-shadow:1px 1px 1px 1px #aaa;
    box-shadow:1px 1px 1px 1px #aaa;
}

.size-L {
    width: 100%;
    min-width: 1222px;
    height:1024px;
}

.size-M {
    width: 1000px;
    height: 768px;
}

.size-S {
    width: 777px;
    height: 960px;
}

.size-XS {
    width: 320px;
    height: 480px;
}

