.table .small {
    width: 20px;
}

.table .medium {
    width: 70px;
}

.table .large {
    width: 100px
}

.table .text-warning {
    color: orange;
}

.hover .hover-hidden {
    display: none;
}

.hover:hover .hover-hidden {
    display: inherit;
}

.thumbnail:hover {
    border: 1px solid #aaa;
}

.message {
    margin: 0px 0px 5px 0px;
}

.btn-dismiss {
    position: relative;
    top: -2px;
}

/* FORM LIST */

.form-list .thumbnail {
    position: relative;
    cursor: pointer;
}

.form-list .thumbnail > .caption {
    height: 150px;
}

.form-list .caption {
    background-color: #f1f1f1;
    border-color: #ccc;
    overflow: auto;
}

.form-list .form-list-title {
    border-bottom: 1px solid lightgray;
}

.form-list p,
.form-list .lead {
    color: #3a3a3a !important;
}

.form-list .form-list-buttons {
    position: absolute;
    top: 0px;
    right: 1px;
    padding: 8px 8px 8px 8px;
    background-color: #3a3a3a;
    border: 4px solid #fff;
    border-bottom-left-radius: 8px;
}

[draggable] {
    cursor: pointer;
}

.study-forms .remove-form {
    position: absolute;
    top: 10px;
    right: -12px;
}

.badge-warning {
    background-color: #d9534f;
}

.draggable-container > li {
    border: 1px solid transparent;
}

.dragstart {
    opacity: 0.5;
}

.dragstart .label {
    background-color: gray;
}

.dragover {
    z-index: 100;
    box-shadow: 0px 0px 4px #999;
    border: 1px dashed #555;
}

.dragremove {
    text-decoration: line-through;
    color: red;
}

.dragremove .label {
    background-color: red;
}

.questionnaire, .study {
    border-radius: 3px;
    border: 1px solid #aaa;
    -webkit-box-shadow: 1px 1px 1px 1px #aaa;
    box-shadow: 1px 1px 1px 1px #aaa;
}

.size-L {
    width: 100%;
    min-width: 1222px;
    height: 1024px;
}

.size-M {
    width: 1000px;
    height: 768px;
}

.size-S {
    width: 777px;
    height: 960px;
}

.size-XS {
    width: 320px;
    height: 480px;
}

.ng-cloak {
    display: none !important;
}