<div class="toolbar">
    <div class="btn-group">
        <a href="#/studies/{{ study.id }}" class="btn btn-warning"><i class="glyphicon glyphicon-eye-open"
                                                                      title="View"></i></a>
        <a href="#/studies/edit/{{ study.id }}" class="btn btn-warning active"><i class="glyphicon glyphicon-edit"
                                                                                  title="Edit"></i></a>
        <a href="#/studies/publish/{{ study.id }}" class="btn btn-warning"><i class="glyphicon glyphicon-globe"
                                                                              title="Publish"></i></a>
    </div>

    <span ng-show="changed">
        <button type="button" class="btn btn-success" ng-click="saveStudy()"><i class="glyphicon glyphicon-ok"></i> Save
        </button>
        <button type="button" class="btn btn-default" ng-click="discardStudy()"><i
                class="glyphicon glyphicon-remove-circle"></i> Cancel
        </button>
    </span>

    <!-- Search -->
    <div class="input-group col-lg-2 col-md-3 col-sm-3 col-xs-4 pull-right" style="display:inline-table">
        <input type="text" class="form-control" placeholder="Search forms" data-ng-model="search">
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-search"></i>
        </span>
    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <p class="lead">
        Edit Study
        <span class="alert alert-sm alert-dismissable"
              data-ng-class="{'hidden':!message.length, 'alert-danger':message.length}">
            <i class="glyphicon glyphicon-minus-sign"></i> {{ message }}
        </span>
    </p>

    <form class="form-inline">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" data-ng-model="study.name" data-ng-change="changed=true">
        </div>
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" data-ng-model="study.title" data-ng-change="changed=true">
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" data-ng-model="study.description" data-ng-change="changed=true">
        </div>
    </form>

    <hr>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">

            <div class="alert alert-warning text-center" ng-hide="study.form_ids.length" role="alert">
                <i class="glyphicon glyphicon-info-sign"></i> Pick a form, any form.
            </div>

            <ul class="list-group study-forms" draggable-list data-ng-model="study.form_ids">
                <li ng-repeat="form in study_forms track by $index" class="list-group-item hover"
                    data-list-index="{{ $index }}" draggable="true">
                    <span class="label label-primary form-index">{{ $index + 1}}</span>
                    <span>{{ form.name | limitTo:25 }}</span>
                    <span class="badge form-version">{{ form.version | limitTo:10 }}</span>
                    <span class="label label-danger hover-hidden remove-form" ng-click="removeForm($index)">
                        <i class="glyphicon glyphicon-remove"></i>
                    </span>
                </li>
            </ul>
            <hr class="visible-xs">
        </div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
            <div class="row">
                <div style="margin-top:15px" ng-hide="forms.length">
                    <span class="alert alert-warning">
                        <span class="glyphicon glyphicon-exclamation-sign"></span> There are no forms to display. <a
                            href="#/forms/create" class="alert-link">Create a new form.</a>
                    </span>
                </div>
                <div class="form-list col-lg-4 col-md-6 col-sm-12 col-xs-12" ng-repeat="form in forms | filter:search">
                    <div class="thumbnail hover">
                        <div class="caption" ng-click="addForm(form.id)">
                            <div class="lead form-list-title">
                                <i class="glyphicon glyphicon-list-alt"></i> {{ form.name }}
                            </div>
                            <div class="form-list-description">
                                <p>{{ form.description || form.title}}</p>
                            </div>
                        </div>

                        <div class="text-left hover-hidden form-list-buttons">
                            <a href="" class="btn btn-info btn-xs" role="button" ng-click="addForm(form.id)">
                                <i class="glyphicon glyphicon-plus"></i>
                            </a>
                            <a href="#/forms/{{ form.id }}" class="btn btn-default btn-xs" role="button">
                                <i class="glyphicon glyphicon-eye-open"></i>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
