<div class="toolbar">
    <!-- New -->
    <a href="#/studies/create" class="btn btn-success"><i class="glyphicon glyphicon-pencil"></i></a>

    <!-- Delete selected -->
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" ng-disabled="!selected.length" data-toggle="dropdown">
            <i class="glyphicon glyphicon-trash"></i>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="" ng-click="deleteSelected()">
                    <i class="glyphicon glyphicon-ok"></i>
                    Delete {{ selected.length }} stud{{ (selected.length > 1) ? 'ies' : 'y' }}
                </a>
            </li>
            <li><a href=""><i class="glyphicon glyphicon-remove"></i> Cancel</a></li>
        </ul>
    </div>

    <!-- Search -->
    <div class="input-group col-lg-2 col-md-3 col-sm-3 col-xs-4 pull-right" style="display:inline-table">
        <input type="text" class="form-control" placeholder="Search studies" data-ng-model="search">
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-search"></i>
        </span>
    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="message" ng-class="{'hidden':!message.length}">
        <span class="alert alert-sm alert-dismissable" ng-class="{'alert-danger':message.length}">
            {{ message }} &nbsp;
            <button type="button" class="btn btn-default btn-dismiss btn-xs" ng-click="message=''">
                <i class="glyphicon glyphicon-ok"></i>
            </button>
        </span>
    </div>

    <div style="margin-top:15px;" ng-hide="loading || studies.length" class="ng-cloak">
        <span class="alert alert-info">
            <span class="glyphicon glyphicon-info-sign"></span> You haven't created any studies yet. <a href="#/studies/create" class="alert-link">Click here</a> to create a new study.
        </span>
    </div>

    <table class="table table-hover">
        <tbody>
        <tr data-ng-repeat="study in studies | filter:search" ng-class="{ warning:isSelected(study.id) }" class="hover">
            <!-- study title -->
            <td class="text-left">
                <input type="checkbox" ng-click="toggle(study.id)">
                <span>&nbsp;</span>
                <a href="#studies/{{study.id}}" class="text-primary" title="{{ study.description || study.title }}">{{ study.name || study.title }}</a>
                <span class="badge badge-success">{{ study.forms.length }}</span>
                <span class="pull-right hover-hidden">
                    <div class="btn-group">
                        <a href="#studies/{{ study.id }}" class="btn btn-default btn-xs" title="View"><i class="glyphicon glyphicon-eye-open"></i></a>
                        <a href="#studies/edit/{{ study.id }}" class="btn btn-default btn-xs" title="Edit" ng-hide="study.published"><i class="glyphicon glyphicon-edit"></i></a>
                        <a href="#studies/publish/{{ study.id }}" class="btn btn-default btn-xs" title="Publishing settings"><i class="glyphicon glyphicon-globe"></i></a>
                    </div>

                    <span class="dropdown">
                        <a href="" class="btn btn-default btn-xs" title="Delete" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="" ng-click="deleteStudy(study.id)"><i class="glyphicon glyphicon-ok"></i> Delete '{{ study.name }}'</a></li>
                            <li><a href=""><i class="glyphicon glyphicon-remove"></i> Cancel</a></li>
                        </ul>
                    </span>
                </span>
            </td>
            <!-- study version -->
            <td class="medium text-center">
                <span class="label label-default">{{ study.version }}</span>
            </td>
            <td class="large text-center">
                {{ study.created_on | date }}
            </td>
            <td class="large text-center">
                {{ study.owner_id || "N/A" }}
            </td>
        </tr>
        </tbody>
    </table>
</div>
