<!-- Toolbar -->
<div class="toolbar">
    <div class="btn-group">
        <button type="button" class="btn btn-warning active"><i class="glyphicon glyphicon-eye-open"
                                                                title="Preview"></i></button>
        <a href="#/studies/edit/{{ study.id }}" ng-hide="study.published" class="btn btn-warning"><i
                class="glyphicon glyphicon-edit" title="Edit"></i></a>
        <a href="#/studies/publish/{{ study.id }}" class="btn btn-warning"><i class="glyphicon glyphicon-globe"
                                                                              title="Publish"></i></a>
    </div>

    <span ng-if="forms.length">
        <span class="text">&nbsp;</span>
        <select class="form-control" data-ng-model="current.index">
            <option ng-repeat="f in study_forms track by $index" value="{{ $index }}">{{ $index + 1}}. {{ f.title ||
                f.name || f.id }}
            </option>
        </select>
    </span>

    <span class="text">&nbsp;</span>

    <div class="btn-group">
        <button type="button" class="btn btn-info" ng-click="resize('L')" ng-class="{active: size == 'L'}"
                title="Desktop">
            <i class="fa fa-desktop"></i>
        </button>
        <button type="button" class="btn btn-info" ng-click="resize('M')" ng-class="{active: size == 'M'}"
                title="Laptop">
            <i class="fa fa-laptop"></i>
        </button>
        <button type="button" class="btn btn-info" ng-click="resize('S')" ng-class="{active: size == 'S'}"
                title="Tablet">
            <i class="fa fa-tablet"></i>
        </button>
        <button type="button" class="btn btn-info" ng-click="resize('XS')" ng-class="{active: size == 'XS'}"
                title="Smartphone">
            <i class="fa fa-mobile-phone"></i>
        </button>
    </div>
</div>

<!-- Content -->
<div class="white col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="lead">
        {{ study.title }} <span class="label label-default">{{ study.version }}</span>
        <small>&nbsp;{{ getStudyDate() }}</small>
    </div>

    <!-- space to render the form's as HTML -->
    <form-preview ng-model="current.form" size="{{ size }}" template="template" study="study"></form-preview>
</div>
