<!DOCTYPE html>
<html>
<head>
    <title><% .Title %></title>
    <style type="text/css">
        .hidden {
            display: none;
        }
    </style>
    <script type="text/javascript" src="assets/lib/survana/1.0.0/survana-storage.js"></script>
</head>
<body>
    <div id="message" class="hidden"></div>
    <script type="text/javascript">

        /** Checks whether an existing study session is valid
         * @param session {Object} The session to validate
         * @returns {boolean} true if the session is valid, false otherwise
         */
        function isSessionValid(session) {

            var current_form = parseInt(session.current, 10);

            //returns false if any of the following conditions are not satisfied, otherwise it returns true
            return  !isNaN(current_form)                    &&  //current form must be a valid integer
                    typeof session.workflow === "object"    &&  //workflow must be an object
                    current_form < session.workflow.length  &&  //current must point to a valid entry in workflow
                    session.start;                              //start time must be defined
        }

        /** Displays a message to the user
         * @param msg {String} The message
         */
        function showMessage(msg) {
            var msg_el = document.getElementById('message');

            msg_el.innerHTML = msg;
            msg_el.classList.remove('hidden');
        }

        /** A callback for Survana.Storage errors. Logs and displays the error to the user.
         * @param e {Error} The error object
         */
        function onStorageError(e) {
            console.error(e);
            showMessage("There was an error loading this study: " + e);
        }

        var study_id = '<%js .Id %>',
            workflow = [
                <%range $i, $form := .Forms %>
                    "form?s=" + study_id + "&f=<%js $i %>",
                <%end%>
            ],
            session = {
                current:    null,
                workflow:   null,
                start:      null
            };

        //create a scope for all storage access
        Survana.Storage.SetScope(study_id);

        //check for existing sessions in other tabs (attempt to resume)
        Survana.Storage.Get(session, function (result) {
            session = result;

            //if we've found a valid session, reuse it
            if (isSessionValid(session)) {
                session.current |= 0; //cast to int
                //nothing to do for the workflow
            } else {
                //start a new session
                session.current = 0;
                session.workflow = workflow;
                session.start = (new Date()).valueOf();
            }

            //store any changes made
            Survana.Storage.Save(session, function () {
                //then load the first form
                window.location.href = session.workflow[session.current];
            }, onStorageError)
        });
    </script>
</body>
</html>
